:root {
    --e-global-color-primary: #111111;
    --e-global-color-secondary: #141414;
    --e-global-color-text: #5A5A5A;
    --e-global-color-accent: #FFCA3D;
    --e-global-color-a2e875e: #FFFFFF;
    --e-global-color-0c9653f: #F0ECEA;
    --e-global-color-af230bd: #623D2D;
    --e-global-color-d1c733e: #301D16;
    --e-global-color-3b5cda1: #DDDDDD;
    --e-global-color-84ab9b4: #F0ECEA;
    --e-global-color-4a85818: #FFB900;
    --e-global-color-37d844e: #2F2F2F;
    --e-global-color-7f9c9d2: #F7F4F3;
}
.home-page {
    background-color: var(--e-global-color-af230bd);
    padding-top: 7rem;
}
.homimg {
 height: 70vh;
 background-position: center center;
 background-size: cover;
 background-repeat: no-repeat;
 border-radius: 3px;
}
.hero-section {
    padding-bottom: 6rem;
}
.organic-badge {
    border: 1px solid var(--e-global-color-a2e875e);
    border-radius: 1rem;
    color: var(--e-global-color-a2e875e);
    font-weight: bold;
    width: fit-content;
    font-size: 0.8rem;
    padding: 0.4rem 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.leaf-icon {
    margin-right: 0.3rem;
}
.hero-title {
    color: var(--e-global-color-a2e875e);
    font-size: 3.6rem;
}
.hero-description {
    color: var(--e-global-color-a2e875e);
    line-height: 1.7rem;
    margin-top: 5.5rem;
}
.shop-btn {
    background-color: var(--e-global-color-accent);
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--e-global-color-primary);
    border: none;
    border-radius: 3px;
    padding: 0.6rem 1.2rem;
    margin-top: 1rem;
    transition: all .3s;
}
.shop-btn:hover {
    background-color: var(--e-global-color-4a85818);
}
/* tablet */
@media (min-width: 768px) and (max-width: 1024px) { 
.hero-title {
    font-size: 3rem;
}
}  
/* mobile */
@media (max-width: 575.98px) { 
  .hero-title {
         font-size: 2.5rem;
}
.hero-description {
    margin-top: 1.5rem;
}
 }