:root {
    --e-global-color-primary: #111111;
    --e-global-color-secondary: #141414;
    --e-global-color-text: #5A5A5A;
    --e-global-color-accent: #FFCA3D;
    --e-global-color-a2e875e: #FFFFFF;
    --e-global-color-0c9653f: #F0ECEA;
    --e-global-color-af230bd: #623D2D;
    --e-global-color-d1c733e: #301D16;
    --e-global-color-3b5cda1: #DDDDDD;
    --e-global-color-84ab9b4: #F0ECEA;
    --e-global-color-4a85818: #FFB900;
    --e-global-color-37d844e: #2F2F2F;
    --e-global-color-7f9c9d2: #F7F4F3;
}
.cho-us-page {
    background-color: var(--e-global-color-d1c733e);
    padding: 5rem 0;
    margin-top: 7rem;
}
.cho-us-badge {
    border: 1px solid var(--e-global-color-a2e875e);
    border-radius: 1rem;
    color: var(--e-global-color-a2e875e);
    font-weight: bold;
    width: fit-content;
    font-size: 0.8rem;
    padding: 0.4rem 1rem;
    margin: 2rem auto;
}
.location-icon {
    margin-right: 0.3rem;
}
.cho-us-title {
    color: var(--e-global-color-a2e875e);
    font-size: 2.8rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 3rem;
}
.chooseus-item {
 position: relative;
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
 border-radius: 3px;
 overflow: hidden;
}
.chooseus-item::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--e-global-color-primary);
    opacity: 0.4;
    z-index: 1;
    border-radius: inherit;
}
.chooseus-item > * {
  position: relative;
  z-index: 2;
}
.chooseus-subtitle,
.chooseus-description {
    color: var(--e-global-color-a2e875e);
    margin: 1.5rem 0;
}
.chooseus-divider {
    height: 45vh;
}
/* tablet */
@media (min-width: 768px) and (max-width: 1024px) { 
.cho-us-title {
    font-size: 2rem;
}
.chooseus-divider {
    height: 35vh;
}
}  
/* mobile */
@media (max-width: 575.98px) { 
 .cho-us-title {
    font-size: 2rem;
}
.chooseus-item {
    margin: 0.2rem 1rem;
    
 }
 }