:root {
    --e-global-color-primary: #111111;
    --e-global-color-secondary: #141414;
    --e-global-color-text: #5A5A5A;
    --e-global-color-accent: #FFCA3D;
    --e-global-color-a2e875e: #FFFFFF;
    --e-global-color-0c9653f: #F0ECEA;
    --e-global-color-af230bd: #623D2D;
    --e-global-color-d1c733e: #301D16;
    --e-global-color-3b5cda1: #DDDDDD;
    --e-global-color-84ab9b4: #F0ECEA;
    --e-global-color-4a85818: #FFB900;
    --e-global-color-37d844e: #2F2F2F;
    --e-global-color-7f9c9d2: #F7F4F3;
}
.con-row {
    background-color: var(--e-global-color-d1c733e);
    padding-top: 5rem;
    padding-bottom: 7rem;
    margin-top: 7rem;
}
.con-img {
    width: 40%;
}
.c-sub {
    color: var(--e-global-color-a2e875e);
    padding-bottom: 1rem;
}
.con-btn {
  background-color: var(--e-global-color-accent);
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--e-global-color-primary);
  border: none;
  border-radius: 3px;
  padding: 0.6rem 1.3rem;
  transition: all 0.3s;
}
.con-btn:hover {
  background-color: var(--e-global-color-4a85818);
}
.footer-back {
   background-color: var(--e-global-color-d1c733e);
   margin-top: 0.2rem;
   padding: 5rem 0;
}
.info-box h6 {
        color: var(--e-global-color-a2e875e);
        font-size: 0.8rem;
}
.info-box h4 {
        color: var(--e-global-color-a2e875e);
        margin: 2rem 0;
}
.in-and-btn {
    display: flex;
}
.info-box input:focus {
  outline: none; 
  box-shadow: none; 
}

.info-box input {
       border: none;
       border-radius: 3px;
       padding: 0.9375rem 1.875rem;
       margin-right: 0.5rem;
}
.fot-se-btn {
    background-color: var(--e-global-color-accent);
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--e-global-color-primary);
    border: none;
    border-radius: 3px;
    padding: 0.7rem 3rem; 
    align-self: flex-end;
    transition: all .3s;
}
.fot-se-btn:hover {
    background-color: var(--e-global-color-4a85818);
}
.list-box {
    display: flex;
    justify-content: space-between;
}
.list-box h5 {
    color: var(--e-global-color-a2e875e);
    padding-bottom: 1rem;
}
.list-box ul li {
    color: var(--e-global-color-a2e875e);
    font-weight: 300;
    padding: 0.5rem 0;
}
/* tablet */
@media (min-width: 768px) and (max-width: 1024px) { 
  .c-sub {
  font-size: 1rem;
}
.info-box h4 {
        font-size: 2rem;
}
.list-box {
    margin-top: 2rem;
}
}  
/* mobile */
@media (max-width: 575.98px) { 
    .c-sub {
   font-size: 1rem;
    padding-top: 1rem;
}
    .in-and-btn {
        flex-direction: column;
    }
    .fot-se-btn {
        align-self: normal;
        margin-top: 0.6rem;
}
.list-box {
    flex-direction: column;
     margin-top: 2rem;
}
 }